//FONTS - FAMILY
::ng-deep .dx-datagrid {
  font-family: var(--user-main-font-family) !important;
}

::ng-deep .dx-texteditor-input{
  font-family: var(--user-main-font-family) !important;
}

::ng-deep .dx-placeholder {
  font-family: var(--user-main-font-family) !important;
}

::ng-deep .dx-menu-item-text {
  font-family: var(--user-main-font-family) !important;
}

::ng-deep .dx-item-content {
  font-family: var(--user-main-font-family) !important;
}

.no-border-text-box{
  border-style: none !important;
}

::ng-deep .dx-tag-content-no-x {
  position: relative;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  margin: 4px 0 4px 4px;
  padding: 3px 10px 4px 6px;
  min-width: 40px;
  background-color: #ddd;
  border-radius: 2px;
}

::ng-deep .dx-list-item-content {
  font-family: var(--user-main-font-family) !important;
}

::ng-deep .dx-loadpanel {
  font-family: var(--user-main-font-family) !important;
}

::ng-deep .dx-widget {
  font-family: var(--user-main-font-family) !important;
}

::ng-deep .dx-loadpanel-message {
  font-family: var(--user-main-font-family) !important;
}

::ng-deep .mat-tab-label {
  padding: 0px 5px !important;
}

::ng-deep .mat-tab-label.mat-tab-label-active {
  background-color: var(--user-tab-active-background-color) !important;
  font-weight: 900;
}
::ng-deep .mat-ink-bar {
  background-color: var(--user-tab-active-line-color) !important;;
}

::ng-deep .mat-progress-bar-fill::after {
  background-color: var(--user-main-color) !important;;
}

::ng-deep .mat-progress-bar-buffer {
  background: #E4E8EB;
}

::ng-deep .mat-progress-bar {
  border-radius: 2px;
}

::ng-deep .tabpanel-item {
  height: 200px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding-left: 5px;
  padding-top: 5px;
}

::ng-deep .mobile .tabpanel-item {
  padding-top: 10px;
}

::ng-deep .tabpanel-item > div {
  float: left;
  padding: 0 85px 10px 10px
}

::ng-deep .tabpanel-item p {
  font-size: 16px;
  margin: 0;
}

::ng-deep .item-box {
  font-size: 14px;
  margin: 15px 0 45px 10px;
}

::ng-deep .options {
  padding: 20px;
  background-color: rgba(191, 191, 191, 0.15);
  margin-top: 20px;
}

::ng-deep .caption {
  font-size: 18px;
  font-weight: 500;
}

::ng-deep .option {
  margin-top: 10px;
}

::ng-deep #gridContainer {
  height: calc(100vh - 220px);
}



::ng-deep .dx-command-select {
  width: 30px !important;
  min-width: 30px !important;
}

::ng-deep .dx-datagrid .dx-row > td {
  padding:  0 7px 0 7px;
}

::ng-deep .dx-datagrid .dx-col {
  vertical-align: middle !important;
}

::ng-deep .dx-error-message{
  text-align: left;
}

::ng-deep .dx-data-row.dx-state-hover:not(.dx-selection):not(.dx-row-inserted):not(.dx-row-removed):not(.dx-edit-row) > td:not(.dx-focused) {
  background-color: var(--user-hover-list-color) !important;
  //cursor: pointer;
}

::ng-deep .dx-datagrid-rowsview .dx-row > .dx-master-detail-cell {
  padding: 8px;
}

::ng-deep .dx-datagrid-group-closed{
  color: lightgrey;
}

::ng-deep .dx-datagrid-group-closed-sifile{
  color: black;
}

::ng-deep .dx-datagrid-content .dx-datagrid-table .dx-row > td, .dx-datagrid-content .dx-datagrid-table .dx-row > tr > td{
  vertical-align: middle!important;
}

::ng-deep .dx-datagrid-table .dx-row .dx-command-expand.dx-datagrid-group-space {
  padding-top: 0;
}

::ng-deep .dx-pager {
  padding-top: 0;
  padding-bottom: 0;
}
::ng-deep .dx-toolbar {
  background-color: #cfcfd1;
}

::ng-deep .dx-datagrid-header-panel .dx-toolbar {
  margin-bottom: 0 !important;
}

::ng-deep.mat-tab-label.mat-tab-label-active:not(.mat-tab-disabled),
::ng-deep.mat-tab-label.mat-tab-label-active.cdk-keyboard-focused:not(.mat-tab-disabled) {
  color: black;
  opacity: 1;
}

.search-options-button {
  background-color: var(--user-btn-side-color);
  position: absolute;
  top: 110px;
  right: 0;
  width: 48px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  cursor: pointer;
  border-radius: 0;
  margin: 0;
  pointer-events: auto;
  opacity: .90;
  z-index: 998;

  mat-icon {
    animation: rotating 3s linear infinite;
  }

  &:hover {
    opacity: 1;
  }
}
.theme-options-button {
  background-color: var(--user-btn-side-color);
  position: absolute;
  top: 160px;
  right: 0;
  width: 48px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  cursor: pointer;
  border-radius: 0;
  margin: 0;
  pointer-events: auto;
  opacity: .90;
  z-index: 998;

  mat-icon {
    animation: rotating 3s linear infinite;
  }

  &:hover {
    opacity: 1;
  }
}

.mat-tab-group{
  height: 100%;
  width: 100%;
  background-color: #f5f5f5;

}


.evo-dashboard{
  height: 100%;
  width: 100%;
}

.openSubGridButton {
  border-color: var(--user-header-btn-open-subgrid) !important;
  color:  var(--user-header-btn-open-subgrid) !important;
}
.openSubGridButton.dx-state-hover {
  border-color:  var(--user-header-btn-open-subgrid-hover) !important;
  color:  var(--user-header-btn-open-subgrid-hover) !important;
  background-color: transparent !important;
}
.openSubGridButton.dx-state-focused {
  border-color:  var(--user-header-btn-open-subgrid-hover) !important;
  color:  var(--user-header-btn-open-subgrid-hover) !important;
  background-color: transparent !important;
}

::ng-deep .mat-tab-body-wrapper {
  height: 100% !important;
}

.centerIconGrid {
  display:block;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;

  //display:block; margin-left: auto; margin-right: auto;cursor: pointer;

}



.sidebar {
  width: 100px !important;
  min-width: 100px !important;
  max-width: 900px !important;
  height: 100% !important;

  &.main-sidebar {
    width: 600px !important;
    min-width: 400px !important;
    height: 100%;

    @media(max-width: 600px) {
      width: 400px !important;
    }
  }

  &.view-sidebar {
    width: 900px !important;
    min-width: 400px !important;
    height: 100%;


    @media only screen and (max-width: 900px) {
      width: 550px !important;
    }


  }
}

td .cellRedTemplate{
  background: #8e0000  !important;
  color: #ff5f52 !important;
}


.tag-box-design {
  position: relative;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  margin: 4px 0 4px 4px;
  padding: 3px 6px 4px 6px;
  min-width: 40px;
  background-color: #ddd;
  border-radius: 2px;
}


::ng-deep .dx-editor-cell .dx-texteditor, .dx-editor-cell .dx-texteditor .dx-texteditor-input {
  border: 1px solid var(--user-grid-filter-border-color) !important;
  background-color: transparent !important;
  border-radius: 50px;
  color: var(--user-grid-filter-font-color) !important;
}

::ng-deep .dx-editor-cell .dx-texteditor .dx-texteditor-input {
  background-color: transparent !important;
  border-radius: 50px;
  color: var(--user-grid-filter-font-color) !important;
}

::ng-deep .dx-datagrid-content .dx-datagrid-table .dx-row .dx-editor-cell {
  padding: 5px !important;
}


::ng-deep .dx-tabs .dx-tabs-wrapper .dx-item.dx-tab {
  width: auto;
  padding-left: 20px;
}

::ng-deep .dx-tab-content .dx-icon.dx-icon-pulldown {
  display: inline-block;
  opacity: 0.6;
  margin-right: 0;
  margin-left: 7px;
  font-size: 18px;
  cursor: pointer;
}

::ng-deep .dx-tab-content .dx-icon.dx-icon-find {
  display: inline-block;
  opacity: 0.6;
  margin-right: 0;
  margin-left: 7px;
  font-size: 18px;
  cursor: pointer;
}

::ng-deep .dx-tab-content .dx-icon.dx-icon-more {
  display: inline-block;
  opacity: 0.6;
  margin-right: 0;
  margin-left: 7px;
  font-size: 18px;
  cursor: pointer;
}
