:root {
    --user-main-color: #aacd10;
    --user-hover-list-color: #dcedc8;
    --user-main-font-family: 'Muli', 'Helvetica Neue', 'Arial', 'sans-serif';

    --user-tab-active-background-color: #aacd10;
    --user-tab-active-line-color: #000;
    --user-btn-side-color: #aacd10;
    --user-btn-filter-active-color: #fc6234;
    --user-btn-edit-mask-color: #aacd10;
    --user-btn-upload-color: #aacd10;
    --user-header-popup-color: #aacd10;
    --user-header-card-color: #aacd10;
    --user-header-edit-mask-color: #aacd10;
    --user-header-upload-document-color: #aacd10;
    --user-header-new-email-color: #aacd10;
    --user-header-attach-email-color: #aacd10;
    --user-header-notify-color: #aacd10;
    --user-header-pdf-viewer-color: #aacd10;
    --user-header-image-viewer-color: #aacd10;
    --user-header-btn-open-subgrid: #4cae4c;
    --user-header-btn-open-subgrid-hover: #4cae4c;
    --user-grid-filter-border-color: #dcdcdc;
    --user-grid-filter-font-color: #000000;
}

//:root {
//    --user-main-color: #ff0000;
//    --user-hover-list-color: #EDC8DC;
//    --user-main-font-family: 'Arial, sans-serif;';
//}